$padding: .5rem 1rem;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  border: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  &:not(h1, h2, h3, h4, h5, h6, em, strong, b, i) {
    font: inherit;
  }
  &:not(del) {
    text-decoration: none;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  height: 100vh;
  background-color: rgb(215, 215, 215);
}

#root {
  height: inherit;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  padding-bottom: .1rem;
  transition: .2s ease border-color;
  text-decoration: none;
  &:hover {
    border-color: black;
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  padding: $padding;
  h1 {
    font-weight: normal;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  .top {
    display: flex;
    gap: 1px;
    .side {
      flex: 1;
      background-color: rgb(174, 174, 174);
      padding: $padding;
    }
  }
  .bottom {
    display: flex;
    flex: 1;
    gap: 1px;
    overflow: hidden;
    .side {
      flex: 1;
      background-color: rgb(233, 233, 233);
      position: relative;
      .options {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        background-color: red;
        background-color: rgba(white, .6);
        backdrop-filter: blur(5px);
        box-shadow: 0 0 0 1px white;
        button {
          padding: .25rem .5rem;
          cursor: pointer;
          opacity: .7;
          transition: .2s ease opacity;
          &:hover {
            opacity: 1;
          }
          &[disabled] {
            cursor: default;
            opacity: .4;
            &:hover {
              opacity: .4;
            }
          }
        }
      }
      textarea {
        width: 100%;
        height: 100%;
        resize: none;
        padding: $padding;
      }
      .markdown {
        padding: $padding;
        overflow-y: auto;
        height: 100%;
        line-height: 1.5;
        h1, h2, h3, h4, h5, h6 {
          border-bottom: 1px solid rgba(0, 0, 0, .2);
          margin-bottom: .5rem;
          &:not(:first-child) {
            margin-top: 1rem;
          }
        }
        ul {
          margin-left: 1.25rem;
        }
        p code, li code {
          background-color: rgba(0, 0, 0, .2);
          padding: 0 .25rem;
          border-radius: .25rem;
        }
        table {
          width: 100%;
          border: 1px solid rgba(0, 0, 0, .2);
          border-collapse: collapse;
          td {
            border: 1px solid rgba(0, 0, 0, .2);
            padding: $padding;
          }
          thead td, thead th {
            border-bottom: 2px solid rgba(0, 0, 0, .2);
            font-weight: bold;
            padding: $padding;
          }
        }
      }
    }
  }
}

footer {
  padding: $padding;
  background-color: rgb(198, 198, 198);
  text-align: center;
  font-size: .825rem;
}